#header {
		height: 10vh;
		width: calc(100% - 4px);
		border: 2px solid black;
		text-align: center;
		font-size: 3em;
}

#menu {
		height: 10vh;
		width: calc(100% - 4px);
		border: 2px solid black;
		text-align: center;
		font-size: 3em;
}

#leftBlock {
		height: 50vh;
		width: calc(50% - 2px - 20px);
		border: 1px solid black;
		text-align: center;
		float: left;
		font-size: 6em;
		padding: 10px;
		margin: 0;
}

#rightBlock {
		height: 50vh;
		width: calc(50% - 2px - 20px);
		border: 1px solid black;
		text-align: center;
		float: left;
		font-size: 6em;
		padding: 10px;
		margin: 0;
}